DB_ADDRESS=your-database-host:port (127.0.0.1:3306)
DB_USERNAME=databse-username (root)
DB_PASSWORD=database-password (root)
DB_NAME=database-name (my_database)
DEFAULT_ADMIN_EMAIL=your-default-email-admin (admin@gmail.com)
DEFAULT_ADMIN_PASSWORD=your-default-password-admin (admin)
API_PORT=app-port (80)
JWT_SECRET=your-jwt-secret (myjwtsecret)
ORDER_SECRET=your-order-secret (myordersecret)
MIDTRANS_SERVER_KEY=your-midtrans-server-key (SB-Mid-server-mykey)